<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/social/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Social Media</a></li>
    <li class="{% if page.url contains '/community-events/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Community Events</a></li>
        <li class="{% if page.url contains '/gallery/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Gallery</a></li>

  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li>
</ul>
