slider {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #1f1f1f;
	overflow: hidden;
	position: absolute;
}
slider > * {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #1f1f1f;
	animation: slide 12s infinite;
	overflow: hidden;
}
@mixin slideN($left, $ani-delay, $url)
{
	left: $left;
	animation-delay: $ani-delay;
	background-image: url($url);
	background-size: cover;
	background-position: center;
}
slide:nth-child(1) {
	slideN(0,-1s, 'images/eggsy.jpg');
}
slide:nth-child(2) {
	slideN(0,2s, 'images/eggsy.jpg');
}

slide:nth-child(3) {
	slideN(0,5s, 'images/eggsy.jpg');
}
slide:nth-child(4) {
	slideN(0,8s, 'images/eggsy.jpg');
}

@keyframes slide {
	0% { left: 100%; width: 100%;}
	5%{ left: 0%;}
	25%{ left: 0%;}
	30%{ left: -100%; width: 100%;}
	30.0001%{ left: -100%; width: 0%;}
	100%{ left: 100%; width: 0%;}
}